body {
  background: #7a7a7a99;
  color: var(--color-primary);
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  --color-primary: #0b1902;
  --color-primary-dark: #0b1902;
  --color-secondary: #291400;
  --color-bright: #a87747;
  --color-light: #e0e1dd;
  --border-radius: 4px;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
